<table class="table table-bordered">
    <tr>
        <th>Plat</th>
        <th>Percentage</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>New Price</th>
        <th>Action</th>
    </tr>
    {% for offre in offers %}
        <tr>
            <td>{{ offre.idPlat.nom }}</td>
            <td>{{ offre.pourcentage }}</td>
            <td>{{ offre.dateDebut|date('Y-m-d') }}</td>
            <td>{{ offre.dateFin|date('Y-m-d') }}</td>
            <td>{{ offre.newPrice }}</td>
            <td>
            <a href="{{ path('offre_edit', {'id': offre.id}) }}" class="btn btn-primary" style="background-color: #2C8CBC; background-image: linear-gradient(to bottom right, #4DA1CB, #4399C4);">Edit</a>
            <a href="{{ path('offre_delete', {'id': offre.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this offer?')">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
